
* {
    margin: 0;
    padding: 0;

}
    body {
    min-height: 100vh;
    background-color: #ebca0f;
    font-family: 'Inter', sans-serif;
    display: grid;
    place-items: center;
}

p {
    font-size: 1.3125rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    background: #222;
    padding: 5rem;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 10px  #11111183;

}

label {
    width: 100%;
    color: #fff;
    align-self: flex-start;
    transition: 0.15s linear;
}

label:focus-within {
    color: #f8e009;
}

input {
    font-size: 15px;
    color: #222;
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 1.7rem;
    transition: 0.15s linear;
}

input :focus {
    outline: none;
    border-color: #c8ba3d;
}

button {
    font-size: 0.8125;
    line-height: 0.5rem;
    font-weight: 700;
    text-transform:  uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: #ebca0f;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus {
    outline: none;
    background:#ebca0f;
    color: #222;
}

.name   {
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    position: absolute;
    top: 654px;
}

.resilia {
    position: absolute;
    margin-top: -212PX;
    display: flex;
    align-items: center;
    width: 30%;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    line-height: 0.5rem;
    font-weight: 700;
    border: 3px solid currentColor;
    background: transparent;
    color: #222;
    box-shadow: 6px 15px 20px #222;
}

a {
    color: #222;
    text-decoration: none;

}

