* {
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans";
}

body {
    background-color: rgba(14, 9, 27, 0.966);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(14, 9, 27, 0.86);
    border-bottom: 1px solid #fff
    
}

h1 {
    color: #fff;
    padding: 15px 0 0 15px;
}

span {
    color: rgb(103, 66, 235);
}

nav {
    display: flex;
    background-color: rgba(14, 9, 27, 0.86);
    align-items: center;
    justify-content: space-around;
    font-weight: bold;  
    padding: 1.5rem 6rem;
    width: 35%;
    height: 100%;
}

a {
    font-size: 20px;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    
 
}

@media screen and (max-width: 700px) {

    header {
        height: 20vh;
    }

    h1 {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


}

/*FEITO POR: POLIANA SANTOS*/