* {
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans";
}

body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #fff
    
}

h1 {
    color: #fff;
    padding: 35px 0 0 30px;
}

h1:hover {
    background-color: rgba(255, 255, 255, 0.329);
    color: rgb(100, 99, 102);
    background: none;
    text-transform: uppercase;
       
}

span {
    color: rgb(100, 99, 102);
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 600;
    font-weight: bold;  
    padding: 2.6rem 6rem;
    width: 35%;
    height: 30px;
}

a {
    font-size: 20px;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    
}

a:hover {
    color: rgb(100, 99, 102);
}

main {
    background-image: url(../img/adoteaqui.png);
    background-color: rgb(0, 0, 0);
    background-position: center top;
    width: 100vw;
    height: 97vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 700px) {

    header {
        height: 20vh;
    }

    h1 {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media  screen and (min-width: 900px) {
    main {
        height: 200vh;
    }
}
    

/*FEITO POR: POLIANA SANTOS*/